* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
    width: 85%;
    border: .5px solid royalblue;
    justify-content: center;
}

.grid {
    border: 1px solid royalblue;
    height: 25px;
    width: 25px;
}

.endingDiv {
    width: 100%;
    border: 0px;
    height: 0px;
}